name: Build JMusicBot

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Build with Maven (force update)
        run: mvn -U -DskipTests package

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: JMusicBot
          path: target/*.jar
